html {background-color: #1A1235}
h1 {
    text-align: center;
    color: #b6f0f3;
}

h3{
    text-align: center;
    color: #b6f0f3;
}

.topnav {
    background-color: #69E490;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: lightsteelblue;
    color: white;
}

.topnav a.active {
    background-color: lightskyblue;
    color: blue;
}

.dropbtn {
    background-color: lightskyblue;
    color: blue;
    padding: 5px;
    font-size: 10px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: none;
    margin-bottom: 5%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #69E490;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: blue;
    padding: 4px 5px;
    text-decoration: none;
    display: block;
    font-size: 10px;
  }
  
  .dropdown-content a:hover {
    background-color: lightsteelblue;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.align-right{
    float: right;
  }

.sleep-log h2 {
    color: #b6f0f3;
    text-align: center;
}

#sleepStats p {
    text-align: center;
    color: #b6f0f3;
}

footer .footer a {
    display: block;
    text-align: center;
    color: blue;
}

label{
    color: #b6f0f3;
}

.header{
    font-size: 20px;
}

.calculate {
    padding: 5px;
    background-color: #b6f0f3;
    color: blue;
    margin-left: 47%;
    border-radius: 5px;
    font-size: 18px;
}

.calculate:hover{
    animation-name: gelatine;
    animation-duration: 3s;
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.8, 1.0); }
    50% { transform: scale(1.0, 0.8); }
    75% { transform: scale(0.97, 1.08); }
}
  
.month{
    color: blue;
    background-color: #b6f0f3;
    font-size: 20px;
}

.sleep-hours-input {
    background-color: #b6f0f3;
    font-size: 20px;
    width: 140px;
}

.dailySleepInputs{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4.5%;
}

.sleep-hours-input::placeholder {
    color: blue;
}

.header {
    margin-left: 47%;
}

/* Added styles for sleep recommendations */
.sleep-recommendations h2,
.sleep-recommendations ul,
.sleep-recommendations ul li {
    text-align: center;
    color: #b6f0f3;
    font-size: 120%;
}

/* Updated styles to remove bullet points from sleep recommendations */
.sleep-recommendations ul {
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 1700px){
    .topnav a {
      font-size: 30px;
    }
  
    h1 {
        font-size: 60px;
    }

    h2{
        font-size: 35px;
    }

    .month{
        font-size: 25px;
    }
    
    .sleep-hours-input {
        font-size: 25px;
       width: 170px; 
    }

    .header {
        font-size: 25px;
    }

    .calculate {
        font-size: 25px;
    }

    .sleep-recommendations h2{
        font-size: 200%;
    }
    .sleep-recommendations ul,
    .sleep-recommendations ul li {
        font-size: 140%;
    }   

    .dailySleepInputs{
        margin-top: 20px;
        margin-left: 6%;
    }
  }

  @media screen and (max-width: 545px){
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 12px;
    }

    .dropdown{
      display: inline-block;
      margin-bottom: 0%;
    }
  
    .topnav{
      display: none;
    }

    .month{
        font-size: 10px;
    }

    .header{
        font-size: 10px;
    }

    .month-container{
        margin-right: 6%;
    }

    .dailySleepInputs{
        margin-left: 3.5%;
    }

    .sleep-hours-input {
        font-size: 8px;
        width: 65px;
    }

    .calculate {
        margin-right: 6%;
        font-size: 8px;
        padding: 3px;
    }

    .sleep-recommendations h2,
    .sleep-recommendations ul,
    .sleep-recommendations ul li {
        font-size: 60%;
}
}  

@media screen and (min-width: 1900px){
    .dailySleepInputs{
        margin-left: 3%;
    }
}